# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
.env/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Migrations
*/migrations/*
!*/migrations/__init__.py

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Docker
*.pid
